{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "User Guide" %} - {{ block.super }} {% endblock %}


{% block body_outer %}
<div class="page-header">
  <h2>WCMC GeoNode Help</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">This page provides helpful information about how to use the WCMC GeoNode. You can use the sidebar links to navigate to what you want to know.</p>
    <p>WCMC Geonode is our official dataset repository and it provides access both for internal and external users. It also provides a map editing application that allows users to browse existing maps and contribute their own. It is also possible to access it through WFS and WMS</p>
    <br>
    <p>Geonode is the central point for UNEP-WCMC's spatial data. This data is available on the <a href="/layers">Layers</a> Section. You can find information about how to access or upload it on the <a href="/help/layers">Layers' Help Page</a>.</p>
    <br>
    <p>On the <a href="/maps">Maps Section</a> you can create and share a visualization with the information you can access. On the <a href="/help/maps">Maps' Help Page</a> you can find information on how to build those maps.</p>
    <br>
    <p>For other data there is the <a href="/documents">Documents Section</a>. You can add different formats and also link them to Spatial Data. More information on the <a href="/help/documents">Documents' Help Page</a>.</p>
    <p>For information on users roles within Geonode you can check <a href="/help/people">People's Help Page</a>.</p>
    <br>
    <p>You can create groups or browse through your Programme data and people on the <a href="/groups">Groups Section</a>. Information can be found on <a href="/help/groups">Groups Page</a>.</p>
  	<br>
  	<p>On Geonode you should use <a href="help/naming-standards">UNEP-WCMC Naming Standards</a></p>
  </div>
  <div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item"><h3>{% trans "Sections" %}</h3></li>
    <li class="list-group-item"><a href="/help/layers">Layers</a></li>
    <li class="list-group-item"><a href="/help/maps">Maps</a></li>
    <li class="list-group-item"><a href="/help/documents">Documents</a></li>
    <li class="list-group-item"><a href="/help/people">People</a></li>
    <li class="list-group-item"><a href="/help/groups">Groups</a></li>
  </ul>
  <ul class="list-group">
	<li class="list-group-item"><h3>UNEP-WCMC Standards</h3></li>
  	<li class="list-group-item"><a href="help/naming-standards">UNEP-WCMC Naming Standards</a></li>
  </ul>
</div>
</div>
{% endblock %}