{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "User Guide" %} - {{ block.super }} {% endblock %}


{% block body_outer %}
<div class="page-header">
  <h2>WCMC GeoNode Help</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="lead">This page provides helpful information about how to use the WCMC GeoNode. You can use the sidebar links to navigate to what you want to know.</p>
    <p>WCMC Geonode is our official dataset repository and it provides access both for internal and external users. It also provides a map editing application that allows users to browse existing maps and contribute their own. It is also possible to access it through WFS and WMS</p>

    <h4 id="layers">Layers</h4>
    <p>All GIS information is stored under the Layers label. 
    
    <h5 id="layer-browsing">Browsing and Searching</h3>
	<p>All layers can be browsed and searched by clicking on the <a href="/layers">Layers</a> tab. You will be able to filter results by Text, Type, Categories, Keywords, Owners, Date, Regions and Extent. All data can be downloaded in a variety of formats, for use in other applications.</p>

	<h5 id="layer-upload">Uploading layers</h3>
	<p>The instructions and SOPs to upload layers can be found on <a href="/help/layers">this page</a>. 

	<h4 id="maps">Maps</h4>
	<p>WCMC Geonode allows users to create and share maps with one another. Help on Browsing, Creating, Exporting and Remixing Maps can be found on the <a href="/help/maps">Maps Help Page</a></p>
  </div>
  <div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item"><h3>{% trans "Sections" %}</h3></li>
    <li class="list-group-item"><a href="/help/layers">Layers</a></li>
    <li class="list-group-item"><a href="/help/maps">Maps</a></li>
  </ul>
</div>
</div>
{% endblock %}