{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "UNEP-WCMC Data Portal" %}</h1>
      <p>{% blocktrans %}<a href="https://www.unep-wcmc.org">UNEP-WCMC</a> is the specialist biodiversity assessment arm of the United Nations Environment Programme (UNEP) based in Cambridge, UK. This Portal is the focal point for our data.{% endblocktrans %}</p>
      <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/latest/tutorials/users/quickstart/index.html">{% trans 'Getting Started' %}</a></span>
    </div>
  </div>
  {% endblock %}
